{% extends 'base.html' %}

{% block head %} 
<title>Quizify</title>
{% endblock %}

{% block body %} 

<h1 style="text-align: center; font-size: 3em;">🎵Quizify🎵</h1>

<body style="text-align: center; font-size: 2em;">How well do you know the songs in your playlists?</body>
<br>
<br>
<body style="text-align: center; font-size: 2em;">Log into your Spotify account below to find out!</body>
<br>
<body style="text-align: center; font-size: .5em;">Premium Account Required</body>

<div style="display: flex; justify-content: center; align-items: center; height: 50vh; font-size: 1em;">
    <img src="{{ url_for('static', filename='icon3@2x.png') }}" alt="Image description" style="width: 50px; height: 50px; margin-right: 10px;">
    <a href="{{ url_for('login') }}" class="btn btn-primary">LOGIN</a>

    
</div>

{% endblock %}
