<!--main_page.html-->

{% extends 'base.html' %}

{% block head %} 

<style>
   
    /* Center button styling */
    .center-button {
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
    }
    #pausetimer {
        
        text-align: center;
        top: 38%;
        font-size: 1.5em;
    }
    .pausecount {
        top: 45%;
        text-align: center;
        font-size: 1.25em;
    }
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%
    }
    .score {
        text-align: center;
        font-size: 1.5em;
    }
    .hamburger {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 30px;
        cursor: pointer;
        z-index: 2;
    }

    .hamburger-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        background: #000000;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .hamburger-menu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    .hamburger-menu a:hover {
        color: #1DB954;
    }

</style>

{% endblock %}

{% block body %} 


<button class="hamburger">&#9776;</button>

<nav class="hamburger-menu">
    <a href="{{ url_for('rules') }}">Rules</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</nav>


<h1 style="text-align: center; font-size: 2.5em; margin-bottom: 0;">🎵Quizify🎵</h1>
<br>


<div id = "song-count" style = "text-align: center; font-size: 1.5em;"></div>
<div id = "score" class = "score">Total Score: 0</div>

<div id="player">
    
    <div>
        <h2 style = "text-align: center" id = "elapsed-time">Elapsed Time: 0 seconds</h2>
    </div>
</div>

<button id="center-play-button" class="center-button" onclick="playPause()">Pause</button>
<br>
<br>

<br>
<br>
<br>
<br>

<div id="pausetimer"></div>
<br>
<div class = "pausecount" id = "pausecount"> </div>



<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>


    // Declare functions in the global scope
    let playPause, nextTrack, processGuess;
    let currentTrack = 0;
    var tracks = {{ tracks|tojson|safe }};
    let song_num;
    let total_songs = tracks.length;



    window.onSpotifyWebPlaybackSDKReady = () => {
        const token = '{{ access_token }}';
        const player = new Spotify.Player({
            name: 'Web Playback SDK Quick Start Player',
            getOAuthToken: cb => { cb(token); }
        });

        // Error handling
        player.addListener('initialization_error', ({ message }) => { console.error(message); });
        player.addListener('authentication_error', ({ message }) => { console.error(message); });
        player.addListener('account_error', ({ message }) => { console.error(message); });
        player.addListener('playback_error', ({ message }) => { console.error(message); });

        // Playback status updates
        player.addListener('player_state_changed', state => { 
            console.log(state); 

            // Start the timer if the song has started playing and the timer hasn't been started yet
            if (!state.paused && !isPlaying) {
                start = Date.now();
                timer = setInterval(updateElapsedTime, 1000);  // Update the elapsed time every second
                isPlaying = true;  // Set the play state to true
            }

            if(state.paused && state.position === 0 && state.restrictions.disallow_resuming_reasons) {
                setTimeout(nextTrack, 1000);  // delay the nextTrack function by 1 second
            }
        });



        // Ready
        player.addListener('ready', ({ device_id }) => {
            console.log('Ready with Device ID', device_id);
            player.device_id = device_id;

            // Load the first track
            fetch('https://api.spotify.com/v1/me/player/play?device_id=' + device_id, {
                method: 'PUT',
                body: JSON.stringify({ uris: [tracks[currentTrack].uri] }),
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
            })
            .then(() => console.log('Track loaded'))
            .catch(console.error);

            song_num = 1;
            // display song number out of total
            document.getElementById('song-count').textContent = 'Song: 1/' + total_songs;
            document.getElementById('pausecount').textContent = 'Pauses left: 3';

            // Play next track
            document.getElementById('next-button').addEventListener('click', nextTrack);
            
        });

   
     
      



        // Connect to the player
        player.connect().then(success => {
            if (success) {
                console.log('Successfully connected to the player.');
            }
        }).catch(error => {
            console.error('Error connecting to the player:', error);
        });


        // Variables to track state
        let start, pauseStart, playTime = 0, pauseCount = 0, totalScore = 0;
        let isPlaying = false;
        // elapsed time timer
        let timer;
        // pause time timer
        let pauseTimer;
        let elapsedTime = 0; // Initial value

        // play/pause function
        playPause = function() {
            if (isPlaying) {
                pauseCount++;
                document.getElementById('pausecount').textContent = 'Pauses left: ' + (3 - pauseCount);
                // If limit reached, move to next track
                if (pauseCount >= 3) {
                    document.getElementById('pausecount').textContent = 'Pauses left: 0';
                    player.pause();
                    isPlaying = false;
                    clearInterval(timer);  // Stop updating the elapsed time every second
                    document.getElementById('center-play-button').disabled = true;
                    let remainingTime = 20;
                    pauseTimer = setInterval(() => {
                    remainingTime--;
                    document.getElementById('pausetimer').textContent = 'Remaining Time: ' + remainingTime + ' seconds';
                    if (remainingTime <= 0) {
                        clearInterval(pauseTimer);
                        document.getElementById('pausetimer').textContent = '';
                        
                        nextTrack();  // Assuming this function skips to the next track
                    }
                }, 1000);
                    
                    return;
                }
                player.pause();
                playTime += Date.now() - start;
                clearInterval(timer);  // Stop updating the elapsed time every second
                document.getElementById('center-play-button').textContent = 'Play';
                isPlaying = false;  // Set the play state to false

                // Clear existing pause timer
                if (pauseTimer) {
                    clearTimeout(pauseTimer);
                    pauseTimer = null;
                }
                // Start a new 20 seconds countdown timer
                let remainingTime = 20;
                pauseTimer = setInterval(() => {
                    remainingTime--;
                    document.getElementById('pausetimer').textContent = 'Remaining Time: ' + remainingTime + ' seconds';
                    if (remainingTime <= 0) {
                        clearInterval(pauseTimer);
                        document.getElementById('pausetimer').textContent = '';
                        playPause(); // Resume the song after 20 seconds
                    }
                }, 1000);
            } else {
                player.resume();
                start = Date.now();
                timer = setInterval(updateElapsedTime, 1000);  // Update the elapsed time every second
                document.getElementById('center-play-button').textContent = 'Pause';
                isPlaying = true;  // Set the play state to true

                // Clear countdown timer on resume
                if (pauseTimer) {
                    clearInterval(pauseTimer);
                    pauseTimer = null;
                    document.getElementById('pausetimer').textContent = '';
                   
                }
            }
        }



        // Play next track
        nextTrack = function() {
            console.log(totalScore);
            song_num++;
            
            document.getElementById('song-count').textContent = 'Song: '  + song_num + '/' + total_songs;
            document.getElementById('pausecount').textContent = 'Pauses left: 3';
            document.getElementById('center-play-button').disabled = false;
            
            if (currentTrack >= tracks.length - 1) {
                console.log('End of playlist');
                return;
            }
            currentTrack = currentTrack + 1;

            console.log(tracks[currentTrack].name)
            console.log(tracks[currentTrack].artist)
            console.log('Loading track', tracks[currentTrack].uri);

            fetch('https://api.spotify.com/v1/me/player/play?device_id=' + player.device_id, {
                method: 'PUT',
                body: JSON.stringify({ uris: [tracks[currentTrack].uri] }),
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
            })
            .then((response) => {
                if (!response.ok) {
                    return response.json().then(err => {throw err});
                }
                console.log('Next track loaded')
                // Track start time
                start = Date.now();
                // Reset pause count and play time
                pauseCount = 0;
                playTime = 0;
                // Enable pause button
                document.getElementById('play-button').disabled = false;
            })
            .catch(console.error);
        }

        


        function updateElapsedTime() {
            elapsedTime = Math.floor((Date.now() - start + playTime) / 1000);
            document.getElementById('elapsed-time').textContent = 'Elapsed Time: ' + elapsedTime + ' seconds';
        }

        processGuess = function() {
            console.log("process guess");
            let titleGuess = document.getElementById('title_guess').value;
            let artistGuess = document.getElementById('artist_guess').value;
            
            let currentSongName = tracks[currentTrack].name;
            let currentArtists = tracks[currentTrack].artist; // This could be an array if there are multiple artists

            
            
            evaluateGuess(titleGuess, artistGuess, currentSongName, currentArtists);

            // Clear the guess inputs
            document.getElementById('title_guess').value = '';
            document.getElementById('artist_guess').value = '';
           
        }

        
        // Function to evaluate guesses and assign points
        function evaluateGuess(titleGuess, artistGuess, correctTitle, correctArtists) {
            console.log("evaluate guess");
            
            let elapsed = elapsedTime;

            // Check guesses
            // Use toLowerCase to make comparison case insensitive
            let titleCorrect = titleGuess.toLowerCase() === correctTitle.toLowerCase();
            let artistCorrect = artistGuess.toLowerCase() === correctArtists.toLowerCase();


            console.log(titleCorrect);
            // Calculate score
            // score can be max 100
            let score;
            
            // guess before 2 seconds of playtime
            if (elapsed <= 2) {
                score = calculateScore(titleCorrect, artistCorrect, 100, 50);
            } 
            // guess before 4 seconds of playtime
            else if (elapsed <= 4) {
                score = calculateScore(titleCorrect, artistCorrect, 90, 45);
            } 
            // guess before 6 seconds of playtime
            else if (elapsed <= 6) {
                score = calculateScore(titleCorrect, artistCorrect, 70, 35);
            } 
            // guess before 10 seconds of playtime
            else if (elapsed <= 10) {
                score = calculateScore(titleCorrect, artistCorrect, 40, 20);
            } 
            // guess before 20 seconds of playtime
            else if (elapsed <= 20) {
                score = calculateScore(titleCorrect, artistCorrect, 20, 10);
            } 
            // guess before 30 seconds of playtime
            else if (elapsed <= 30) {
                score = calculateScore(titleCorrect, artistCorrect, 10, 5);
            } 
            else {
                console.log("no points");
                score = 0;
            }
            
            // Update total score
            totalScore += score;
            document.getElementById('score').textContent = "Total Score: " + totalScore;
            nextTrack();
        }

        function calculateScore(titleCorrect, artistCorrect, bothCorrectScore, oneCorrectScore) {
            if (titleCorrect && artistCorrect) {
                return bothCorrectScore;
            }
            else if (titleCorrect || artistCorrect) {
                return oneCorrectScore;
            }
            else {
                return 0;
            }
        }



    };
</script>

<br>
<br>
<br>

<form onsubmit="event.preventDefault(); processGuess();" style ="text-align: center">
    <label for="title_guess">Title Guess:</label><br>
    <input type="text" id="title_guess" name="title_guess"><br>
    <label for="artist_guess">Artist Guess:</label><br>
    <input type="text" id="artist_guess" name="artist_guess"><br><br>
    <input type="submit" value="Submit">
</form>



<br>
<div class="button-container">
    <button id="skip-button" class="skip-button" onclick="nextTrack()">Skip</button>
</div>


<script>
    document.querySelector('.hamburger').addEventListener('click', function() {
        var menu = document.querySelector('.hamburger-menu');
        if (menu.style.width === '0px' || menu.style.width === '') {
            menu.style.width = '250px';
        } else {
            menu.style.width = '0px';
        }
    });
</script>

{% endblock %}
