<!--num_songs_select.html-->

{% extends 'base.html' %}

{% block head %} 
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

    .form {
        text-align: center;
        font-size: 2em;
    }

    .form label {
        font-size: inherit;
    }

    .form input[type="number"],
    .form input[type="submit"] {
        font-size: inherit;
    }

    .logout {
        text-align: right;
    }
    .hamburger {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 30px;
        cursor: pointer;
        z-index: 2;
    }

    .hamburger-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        background: #000000;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .hamburger-menu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    .hamburger-menu a:hover {
        color: #1DB954;
    }
</style>
{% endblock %}

{% block body %} 
<button class="hamburger">&#9776;</button>

<nav class="hamburger-menu">
    <a href="{{ url_for('rules') }}">Rules</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</nav>

<h1 style="text-align: center; font-size: 2.5em; margin-bottom: 0;">🎵Quizify🎵</h1>
<div class="container">
    <div class="form">
        <h3 style="font-size: inherit;">Selected Playlist: {{ playlist_name }} ({{total_songs_in_playlist}} songs)</h3>
        <br>
        <form method="POST">
            <label for="num_songs" style="font-size: inherit;">How many songs do you want to play with?</label>
            <input type="number" id="num_songs" name="num_songs" min="1" required>
            <input type="submit" value="Start Game">
        </form>
        
        <p style="font-size: 0.75em;">*May take a while for liked songs playlist</p>

    </div>
</div>


<script>
    document.querySelector('.hamburger').addEventListener('click', function() {
        var menu = document.querySelector('.hamburger-menu');
        if (menu.style.width === '0px' || menu.style.width === '') {
            menu.style.width = '250px';
        } else {
            menu.style.width = '0px';
        }
    });
</script>
{% endblock %}
