<!--playlist_select.html-->
{% extends 'base.html' %}

{% block head %} 
<title>Quizify</title>
<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
    }

    .grid-item {
        padding: 1rem;
        text-align: center;
    }
    .hamburger {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 30px;
        cursor: pointer;
        z-index: 2;
    }

    .hamburger-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        background: #000000;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .hamburger-menu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    .hamburger-menu a:hover {
        color: #1DB954;
    }
</style>
{% endblock %}

{% block body %} 


<button class="hamburger">&#9776;</button>

<nav class="hamburger-menu">
    <a href="{{ url_for('rules')  }}">Rules</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</nav>


<h1 style="text-align: center; font-size: 2.5em; margin-bottom: 0; margin-top: 0;">🎵Quizify🎵</h1>

<br>
<h3 style="text-align: center; margin-top: 0; margin-bottom: 5;">Select a playlist</h3>

<div class="grid">
    {% for playlist in playlists %}
        <div class="grid-item">
            <h3 style ="margin-top: 0;">{{ playlist['name'] }}</h3>
            {% if playlist['images'] %}
            <img src="{{ playlist['images'][0]['url'] }}" alt="{{ playlist['name'] }}" style="width: 100%;">
            {% endif %}
            <a href="{{ playlist['external_urls']['spotify'] }}">Open in Spotify</a>
            
            <form method="POST" action="{{ url_for('playlist_select') }}">
                <input type="hidden" name="playlist_id" value="{{ playlist['id'] }}">
                <br>
                <button type="submit" class="btn btn-primary">Select Playlist</button>
            </form>   
        </div>
    {% endfor %}
</div>
<br>
<br>
<script>
    document.querySelector('.hamburger').addEventListener('click', function() {
        var menu = document.querySelector('.hamburger-menu');
        if (menu.style.width === '0px' || menu.style.width === '') {
            menu.style.width = '250px';
        } else {
            menu.style.width = '0px';
        }
    });
</script>
{% endblock %}
