<!--playlist_select.html-->
{% extends 'base.html' %}

{% block head %} 
<title>Quizify</title>
<style>
    body {
        color: #c5c6c7;
    }
    h1 {
        color:#66fcf1;
        text-align: center;
        font-size: 5em;
        margin-bottom: 0;
        margin-top: 0;
    }
    h2 {
        color: #45a29e;
        font-size: 2em;
        text-align: center;
        margin-top: 0px;  /* adjust this value to reduce space above */
        margin-bottom: 50px;  /* adjust this value to increase space below */
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
    }

    .grid-item {
        padding: 1rem;
        text-align: center;
    }
    .hamburger {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 30px;
        cursor: pointer;
        z-index: 2;
        color: #66fcf1;
        background-color: #0b0c10;
    }

    .hamburger-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        background: #1f2833;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .hamburger-menu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    .hamburger-menu a:hover {
        color: #66fcf1;
    }
    .btn-primary {
        display: inline-block;
        background-color: #66fcf1;
        color: #1f2833;
        text-decoration: none;
        font-size: .8em;
        padding: 12px 24px;
        border-radius: 20px;
        border: none;
        transition: all 0.3s ease 0s;
    }

    .btn-primary:hover {
        background-color: #54d4dd;
        color: #ffffff;
    }

</style>
{% endblock %}

{% block body %} 


<button class="hamburger">&#9776;</button>

<nav class="hamburger-menu">
    <a href="{{ url_for('rules')  }}">Rules</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</nav>


<h1>Quizify</h1>

<br>
<h2>Select a playlist</h2>

<div class="grid">
    {% for playlist in playlists %}
        <div class="grid-item">
            <h3 style ="margin-top: 0;">{{ playlist['name'] }}</h3>
            {% if playlist['images'] %}
            <img src="{{ playlist['images'][0]['url'] }}" alt="{{ playlist['name'] }}" style="width: 100%;">
            {% endif %}
            
            
            <form method="POST" action="{{ url_for('playlist_select') }}">
                <input type="hidden" name="playlist_id" value="{{ playlist['id'] }}">
                <br>
                <button type="submit" class="btn btn-primary">Select Playlist</button>
            </form>   
        </div>
    {% endfor %}
</div>
<br>
<br>
<script>
    document.querySelector('.hamburger').addEventListener('click', function() {
        var menu = document.querySelector('.hamburger-menu');
        if (menu.style.width === '0px' || menu.style.width === '') {
            menu.style.width = '250px';
        } else {
            menu.style.width = '0px';
        }
    });
</script>
{% endblock %}
