<!--rules_page.html-->
{% extends 'base.html' %}

{% block head %} 
<title>Quizify</title>
<style>
    body {
        text-align: center;
        color: #c5c6c7;
        font-family: "Helvetica Neue", sans-serif;
        background: #0b0c10
    }
    h1 {
        font-family: "Helvetica Neue", sans-serif;
        color:#66fcf1;
        text-align: center;
        font-size: 5em;
        margin-bottom: 0;
        margin-top: 0;
    }
    h2 {
        color: #45a29e
    }
    .btn-primary {
        display: inline-block;
        background-color: #66fcf1;
        color: #1f2833;
        text-decoration: none;
        font-size: 1em;
        padding: 12px 24px;
        border-radius: 20px;
        border: none;
        transition: all 0.3s ease 0s;
    }



    .btn-primary:hover {
        background-color: #54d4dd;
        color: #ffffff;
    }

    .hamburger {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 30px;
        cursor: pointer;
        z-index: 2;
        color: #66fcf1;
        background-color: #0b0c10;
    }

    .hamburger-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        background: #1f2833;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .hamburger-menu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    .hamburger-menu a:hover {
        color: #66fcf1;
    }
</style>
{% endblock %}

{% block body %} 
<button class="hamburger">&#9776;</button>

<nav class="hamburger-menu">
     <a style = "text-align: left;" href="{{ url_for('logout') }}">Logout</a>
</nav>

<h1>Quiz</h1>

<h2>Objective</h2>
<body>The goal is to indentify both the title of the song and the artist(s) of the song.</body>
<br>
<body>The quicker you correctly guess the more points you will earn.</body>

<h2>Setup</h2>
<body>Select a playlist of yours that you want to play the game with.</body>
<br>
<body>Select the number of songs you would like to be quizzed on.</body>

<h2>Gameplay</h2>
<body>Right after you hit "start game", the first song starts playing.</body>
<br>
<body>You only get one guess per song, but you can pause the song up to 3 times.</body>
<br>
<body>Each time you pause the song, you have 20 seconds until the song resumes again.</body>
<br>
<body>After the 3rd pause, you have 20 seconds to enter your final guess.</body>
<br>
<body>At that time, the next song starts playing.</body>

<h2>Earning Points</h2>
<body>Each song has a maximum of 100 points to be earned.</body>
<br>
<body>If you correctly guess just the title or just the artist and not the other, then you get half points.</body>
<br>
<body>Points are awarded as follows:</body>
<br>
<body>Elapsed time &lt;= 2 seconds: 100 points</body>
<br>
<body>Elapsed time &lt;= 4 seconds: 90 points</body>
<br>
<body>Elapsed time &lt;= 6 seconds: 70 points</body>
<br>
<body>Elapsed time &lt;= 10 seconds 40 points</body>
<br>
<body>Elapsed time &lt;= 20 seconds: 20 points</body>
<br>
<body>Elapsed time &lt;= 30 seconds: 10 points</body>
<br>
<body>Elapsed time &gt; 30 seconds: 0 points</body>

<h2>Notes</h2>
<body>You need to identify the lead artist credited with the song to get the full points.</body>
<br>
<body>You don't need to specify if the song is a cover, remix, acoustic, or who is featuring, etc. Just the title.</body>
<br>
<body>Guesses are not case sensitive (i.e., "clouds" would be acceptable for "CLOUDS")</body>
<br>
<body>However, spelling needs to be perfect (i.e., "Chasing You" would NOT be acceptable for "Chasin' You")</body>
<br>
<br>
<br>

<h2>Ready to Play?</h2>

<form action="{{ url_for('playlist_select') }}" method="get">
    <button type="submit" class="btn btn-primary">Select a Playlist</button>
</form>

<br>
<br>
<br>
<script>
    document.querySelector('.hamburger').addEventListener('click', function() {
        var menu = document.querySelector('.hamburger-menu');
        if (menu.style.width === '0px' || menu.style.width === '') {
            menu.style.width = '250px';
        } else {
            menu.style.width = '0px';
        }
    });
</script>

{% endblock %}
